html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: source-han-sans-japanese, Helvetica Neue, Arial, Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif;
  background: #fff;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: middle;
}

.header__hamburger span{
   margin-bottom: 7px;
      position: relative;
      display: block;
      width: 32px;
      height: 3px;
      background: #333;
}

.header__hamburger {
    display: none;
    position: fixed;
    z-index: 99;
    top: 30px;
    right: 16px;
    cursor: pointer;
    font-size: 10.6px;}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.containers {
  margin: 0 auto;
  max-width: 968px;
  padding-right: 16px;
  padding-left: 16px;
}

.font-l,
.font-s {
  line-height: 1.5;
  text-align: justify;
}

.font-l {
  font-size: 16px;
}

.font-s {
  font-size: 14px;
}

.spOnly {
  display: none;
}

.pcOnly {
  display: block;
}

@media (max-width: 768px) {
  .spOnly {
    display: block;
  }

  .pcOnly {
    display: none;
  }

  .h1 {
    font-size: 28px;
  }

  .h2 {
    font-size: 24px;
  }

  .h3 {
    font-size: 20px;
  }

  .h4 {
    font-size: 18px;
  }

  .h5 {
    font-size: 16px;
  }

  .h6 {
    font-size: 14px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;
}

.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  position: relative;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

.col-1 {
  max-width: 8.3333333333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.3333333333%;
  flex: 0 0 8.3333333333%;
}

.col-2 {
  max-width: 16.6666666667%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.6666666667%;
  flex: 0 0 16.6666666667%;
}

.col-3 {
  max-width: 25%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}

.col-4 {
  max-width: 33.3333333333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.3333333333%;
  flex: 0 0 33.3333333333%;
}

.col-5 {
  max-width: 41.6666666667%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.6666666667%;
  flex: 0 0 41.6666666667%;
}

.col-6 {
  max-width: 50%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.col-7 {
  max-width: 58.3333333333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.3333333333%;
  flex: 0 0 58.3333333333%;
}

.col-8 {
  max-width: 66.6666666667%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.6666666667%;
  flex: 0 0 66.6666666667%;
}

.col-9 {
  max-width: 75%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
}

.col-10 {
  max-width: 83.3333333333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.3333333333%;
  flex: 0 0 83.3333333333%;
}

.col-11 {
  max-width: 91.6666666667%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.6666666667%;
  flex: 0 0 91.6666666667%;
}

.col-12 {
  max-width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.col-3 {
  max-width: 25%;
  float: 0 0 25%;
}

.col-4 {
  max-width: 33.333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
}

.col-5 {
  max-width: 41.666%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666%;
  flex: 0 0 41.666%;
}

.col-6 {
  max-width: 50%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.col-7 {
  max-width: 58.333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333%;
  flex: 0 0 58.333%;
}

.col-8 {
  max-width: 66.666%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666%;
  flex: 0 0 66.666%;
}

.col-12 {
  max-width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

@media (max-width: 768px) {
  .col-1 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .col-2 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .col-3 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .col-4 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .col-5 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .col-6 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .col-7 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .col-8 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .col-9 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .col-10 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .col-11 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 425px) {

  .col-4,
  .col-6 {
    width: 100%;
  }
}

.mv {
  padding: 60px 0;
}

@media (max-width: 768px) {
  .mv {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .mv__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 40px;
  }
}

.mv__title {
  padding: 12px;
  text-align: center;
  color: #fff;
  background: linear-gradient(51deg, #997300 0%, #AC8200 12.33%, #B18500 24.39%, #836300 36.46%, #E5C150 58.33%, #F2D067 75%, #FFE597 87.76%, #FFF 99.5%);
  margin-bottom: 20px;
}

.mv__logo img {
  width: 100%;
}

.mv .h2 {
  color: #B18500;
  text-align: center;
  margin-bottom: 32px;
}

.mv .h3 {
  text-align: center;
  color: #B18500;
  margin-bottom: 40px;
}

.up__content {
  padding: 24px;
  text-align: center;
  line-height: 1.6;
}

.up__content span {
  color: red;
  font-size: 20px;
}

.up__line {
  width: 100%;
}

.up__line svg {
  width: 100%;
}

.up__text {
  margin-top: 24px;
  color: #666;
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .up__text {
    padding: 0 16px;
  }
}

.announce {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .announce {
    margin-bottom: 0;
  }
}

.announce__wrap {
  border-radius: 6px;
  background: #5ccde0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 32px;
  padding: 24px;
  color: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  .announce__wrap {
    gap: 6px;
  }
}

@media (max-width: 768px) {
  .announce__content.h2 {
    font-size: 16px;
    text-align: right;
  }
}

.line {
  width: 96%;
  text-align: center;
  margin: 0 auto;
}

.line svg {
  width: 100%;
}

.l-list__item {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .l-list__item {
    margin-bottom: 40px;
  }
}

.l-list__item__content {
  padding: 40px 24px;
}

.l-list__item__itemOne {
  padding: 40px 24px;
}

@media (max-width: 768px) {
  .l-list__item__itemOne img {
    margin-bottom: 24px;
  }
}

.l-list__item__itemOne p:not(:last-child) {
  margin-bottom: 16px;
}

.l-list__item__itemTwo {
  padding: 40px 24px;
}

@media (max-width: 768px) {
  .l-list__item__itemTwo img {
    margin-bottom: 24px;
  }
}

.l-list__item__itemTwo p:not(:last-child) {
  margin-bottom: 16px;
}

.l-list__item__why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 40px;
  color: #fff;
  padding: 40px 0;
}

.l-list__item:nth-child(1) .l-list__item__wrap {
  border: 6px solid #5CCDE0;
}

.l-list__item:nth-child(1) .l-list__item__why {
  background: #5CCDE0;
}

.l-list__item:nth-child(2) .l-list__item__wrap {
  border: 6px solid #E96E6E;
}

.l-list__item:nth-child(2) .l-list__item__why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #E96E6E;
}

@media (max-width: 768px) {
  .l-list__item:nth-child(2) .l-list__item__why {
    gap: 12px;
  }

  .l-list__item:nth-child(2) .l-list__item__why img {
    width: 60px;
    height: 60px;
  }

  .l-list__item:nth-child(2) .l-list__item__why .h2 {
    font-size: 14px;
  }
}

.l-list__item:nth-child(3) .l-list__item__wrap {
  border: 6px solid #A0CD63;
}

.l-list__item:nth-child(3) .l-list__item__why {
  background: #A0CD63;
}

.inf__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .inf__wrap__img {
    width: 100%;
  }
}

.inf__wrap__content__textOne .content {
  padding: 30px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 16px;
  background: #5CCDE0;
  color: #fff;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .inf__wrap__content__textOne .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px 18px;
  }
}

.faq__title {
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 18px;
  background: #FF6F02;
  color: #fff;
  gap: 12px;
}

.faq__list {
  margin-bottom: 40px;
}

.faq__list__item {
  padding: 12px 0 12px 18px;
  border: 1px solid #FF6F02;
  position: relative;
}

.faq__list__item a {
  color: #333;
}

.faq__list__item::after {
  position: absolute;
  content: url(/asset/img/icon/arrow_right.png);
  top: 50%;
  right: 18px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.faq__content__title {
  margin-bottom: 24px;
  position: relative;
  color: #FF6F02;
  padding-left: 16px;
}

.faq__content__title::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 0;
  top: 0;
  background: #FF6F02;
}

.faq__content__list {
  margin-bottom: 40px;
}

.faq__content__list__item {
  border: 1px solid #FF6F02;
  padding: 0 20px;
  margin-bottom: 12px;
  cursor: pointer;
}

.faq__content__list__item__q {
  padding: 12px 0px 12px 30px;
  position: relative;
}

@media (max-width: 768px) {
  .faq__content__list__item__q {
    padding: 12px 12px 12px 18px;
  }
}

.faq__content__list__item__q .cross {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  right: 24px;
  top: 50%;
}

@media (max-width: 768px) {
  .faq__content__list__item__q .cross {
    right: 0px;
  }
}

.faq__content__list__item__q .cross::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 14px;
  background: #FF6F02;
}

.faq__content__list__item__q .cross::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 2px;
  background: #FF6F02;
}

.faq__content__list__item__q::after {
  position: absolute;
  content: url(/asset/img/icon/Q.png);
  top: 50%;
  left: 8px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .faq__content__list__item__q::after {
    left: 0;
  }
}

.faq__content__list__item__q::before {
  display: none;
  position: absolute;
  content: "";
  width: 100%;
  border: 1px dashed #333;
  bottom: 0;
  left: 0;
}

.faq__content__list__item__a {
  display: none;
  padding: 12px 0 12px 30px;
  position: relative;
}

@media (max-width: 768px) {
  .faq__content__list__item__a {
    padding: 12px 12px 12px 18px;
  }
}

.faq__content__list__item__a::after {
  position: absolute;
  content: url(/asset/img/icon/A.png);
  left: 8px;
  top: 18px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .faq__content__list__item__a::after {
    left: 0;
  }
}

.faq__content__list__item.active .faq__content__list__item__a {
  display: block;
}

.faq__content__list__item.active .faq__content__list__item__q::before {
  display: block;
}

.faq__content__list__item.active .cross::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.footer {
  background: #666;
  color: #fff;
  padding: 12px 0;
}

.footer p {
  text-align: center;
}

/*# sourceMappingURL=all.css.map */